<% include ../partials/head %>
  <script type="text/javascript" src="../../scripts/choose.js"></script>

  <main class="sfdx-slim slds-card">

    <h2 class="slds-text-heading_medium slds-p-top_medium slds-p-bottom_medium">Confirm Deployment Details</h2>

    <p class="slds-p-bottom_medium">
      <strong>Deploying to:</strong><br />
      <%= user_name %>
    </p>
    <p>
      <strong>Choose a repository:</strong><br />

      <fieldset class="slds-form-element">
        <div class="slds-form-element__control">

          <% for (var i = 0; i < rows.length; i++) { %>
            
            <span class="slds-radio">
              <input type="radio" id="radio-<%=i%>" name="options" <% if (i == 0) {%>checked="checked"<% } %> value="<%= rows[i].repo %>">
              <label class="slds-radio__label" for="radio-<%=i%>">
                <span class="slds-radio_faux"></span> <%= rows[i].repo %> (<%= rows[i].depl %>)
            <span class="slds-form-element__label"><a href="<%= rows[i].repo %>" target="_blank">^</a></span>
            </label>
            </span>

          <% } %>

        </div>
      </fieldset>

    </p>

    <div class="slds-align_absolute-center slds-p-top_medium slds-p-bottom_small sfdx-button-bar">
      <button type="button" class="slds-button slds-button_neutral sfdx-button_large" id="no">Cancel</button>
      <button type="button" class="slds-button slds-button_brand sfdx-button_large" id="yes">Deploy</button>
    </div>

  </main>

  <main class="sfdx-slim slds-card">

    <h2 class="slds-text-heading_medium slds-p-top_small slds-p-bottom_medium">Want to try your own repo?</h2>
    <p class="slds-p-bottom_small">Just add the <img src="/dist/assets/images/DeployToSFDX.svg" /> button. <a href="/repo">Learn more</a>.</p>

  </main>

  <input type="hidden" id="guid" value="<%= guid %>"></input>

  <% include ../partials/footer %>